<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">

              <h1 align = "center">FAQ</h1>
              <br>
              <div class="faqs">
                 <details>
                    <summary>What payment options are available to me?</summary>
                    <br>
                    <p align="justify" class="text">We accept VisaCard, MasterCard, online banking and COD.</p>
                 </details>
                 <details>
                    <summary>Can i place an order today for a future date</summary>
                    <br>
                    <p align="justify" class="text">Of couse! you may place an order from assorment of cakes here anytime and we will have it delivered to your doorstep.</p>
                 </details>
                 <details>
                    <summary>How do i check my delivery status?</summary>
                    <br>
                    <p align="justify" class="text">As for now, we do not have a live tracking system for our customer yet;but be rest assured that we will deliver your orders within the time slot you have pre-selected.</p>
                 </details>
                 <details>
                  <summary>Does The Aesthetic Bakery charge a delivery fee? </summary>
                  <br>
                  <p class="text">Yes, we do charge delivery fees for orders based on your distance.</p>
               </details>
               <details>
                <summary>Where does The Aesthetic Bakery delivery to? </summary>
                <br>
                <p class="text">We currently only serve Cheras and Ampang exclusively but will expand to other states throughout Malaysia in due time. Stay Tuned!</p>
             </details>
           </div>
           <br>
           <br>
      </div>
  </div>
