<section class="home">
  <img src="../../assets/images/background2.jpg">

  <div class="homecontent">
  <h1>WELCOME TO THE AESTHETIC BAKERY</h1>
  <p>We make your sweet dreams come true</p>
  <p>All your need is cake</p>
</div>
  <div class ="homecontent2"><a [routerLink]="['/login']"class="btn btn-primary">Log out</a></div>
  </section>
 <br>
  <br>
  <h1 class="text-center">Best Sellings Cakes</h1>

<div class="gallery">
  <img src="./assets/images/TM.jpg" alt="Cinque Terre" width="100">
  <div class="desc"><p align = "center">Tiramisu Cake</p>
  <p align = "justify">Cake flavored with espresso filled with layers
  of mascarpone cheese and cappuccino cream.</p>
  </div>
  </div>

  <div class="gallery">
  <img src="./assets/images/RV.jpg" alt="Forest" width="100" height="400">
  <div class="desc"><p align = "center">Red Velvet Cake</p>
  <p align = "justify">Layers of moist red velvet cake and creamy cheesecake,
    covered in cream cheese frosting</p>
 </div>
  </div>

  <div class="gallery">
  <img src="./assets/images/carrotcake.jpg" alt="Northern Lights" width="100">
  <div class="desc"> <p align = "center">Carrot Cake</p>
  <p align = "justify">Filled with grated carrots, walnuts and
    raisins, covered with cream cheese.</p>
 </div>
  </div>

  <div class="gallery">
  <img src="./assets/images/choco.jpg" alt="Mountains" width="100">
  <div class="desc"><p align = "center">Chocolate Cake</p>
  <p align = "justify">Moist chocolate cake with chocolate frosting, and
          espresso powder.</p>
            </div>

